.ParalaxWrapper {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:after {
    content: '';
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    opacity: .7;
    z-index: -10;
  }
}
