@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import "variables";

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 16px;

  @include for-phone {
    font-size: 8px;
  }

  @include for-tablet-portrait {
    font-size: 10px;
  }

  @include for-tablet-landscape {
    font-size: 12px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
